; Schulich Delta Elysia Specification File

[JsonFormat]
packetTitle=Gen5

[SourceAddress]
ipAddress=127.0.0.1
port=6969

[rabbitMQ]
exchangeName=hermesExchange
queueName=dashboardQueue
customQueueName=false

[Logging]
loggingEnabled=true
